$color_nanraja:#FC6A0F;


nav {
	font-weight: 700;
	color: black;

	& ul {
		list-style-type: none;
	}
}



.header__navLink {
	color: black !important;

	&:hover {
		color: $color_nanraja;
	}
}


.header__demoGratis {
	display: inline-block;
	background-color: $color_nanraja;
	color: white;
	border-radius: 2px;
	padding: 14px !important;
	font-weight: 700;


	transition-property: transform 0.2s ease-in-out;
	transition-duration: 500ms;

	&:hover {
		transform: scale(1.1);
		color: white !important;
	}
}

footer {
	background-color: $color_nanraja;
	color: white;
}

.plan__title {
	text-align: center;
	font-size: 34px;
	color: $color_nanraja;
	font-weight: 900;
	margin: 0;
	padding-top: 33px;


}

.login__btn {
	width: 290px;
	height: 38px;
	font-family: Nunito Sans;
	font-size: 15px;
	text-align: center;
	border: 1px solid $color_nanraja;
	border-radius: 20px;
	color: $color_nanraja;
	background: white;

	transition-property: background;
	transition-duration: 500ms;

	&:hover {
	background-color: $color_nanraja;
	color: white;
	}
}

.login__forgetPassword {
	margin-top: 0;
	font-size: 11px;
	color: $color_nanraja;
	font-weight: bold;
	margin-left: 135px;

	&:hover {
		text-decoration: underline;

	}
}

.prices__btn--orange {
	background: $color_nanraja !important;

	&:hover {
	transform: scale(1.1);
	color: white !important;
	}
}

.prices__btn {
	margin: 30px 0 45px 0;
	font-size: 11px;
	background: #666F76;
	border-radius: 2px;
	color: white;
	font-weight: 700;
	display: inline-block;
	padding: 8px 40px !important;

	transition-property: transform 0.2s ease-in-out;
	transition-duration: 500ms;

	&:hover {
		transform: scale(1.1);
		color: white !important;
	}
}
