/*GENERAL*/

body{
	font-family:'Nunito Sans';
	margin: 0;
	padding: 0;
}

h3 {
	color: black;
	text-align: left;
	font-size: 27px;
	font-weight: normal;
}

h6 {
	margin-top: 17px;
	margin-bottom: 0;
	text-align: center;
	font-size: 10px;
	font-weight: 900;
}

p {
	font-size: 14px;
	text-align: left;
}

a {
	text-decoration: none;
	color: black;
}

nav ul {
	list-style-type: none;
}

nav {
	font-weight: 700;
	color: black;
}



/*HEADER*/

.header {

	padding: 20px;

}

.header__logoInicio {
	width: 144px;
	height: 23px;
	/*margin: 0 5px 0 0;*/
}

.header__navLink {
	color: black !important;
}

.header__navLink--active {
	color: #FC6A0F !important;
}



.header__link--hover {
	margin-right: 20px;
}

.header__link--hover:hover {
	color: #FC6A0F !important;
}

.header__link--hover:active {
	color: #FC6A0F;
}

.header__demoGratis {
	display: inline-block;
	background-color: #FC6A0F;
	color: white;
	border-radius: 2px;
	padding: 14px !important;
	font-weight: 700;


	transition-property: transform 0.2s ease-in-out;
	transition-duration: 500ms;
}

.header__demoGratis:hover {
	transform: scale(1.1);
	color: white !important;
}




.header__center {
	align-items: center;

}




/*SECTION 1*/

.first {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-left: 55px;
	margin-right: 55px;
	margin-top: 70px;
}

.first_overTitle {
    color: black;
  text-align: left;
  font-size: 27px;
  font-weight: normal;

}

.first__title {
	font-size: 41px;
	text-transform: uppercase;
	font-weight: 900;
	text-align: left;
	color: #FC6A0F;
}

.first__imagenNotebook {
	width: 852px;
	height: 527px;
}


/*SECTION 2*/

.second {
	margin-top: 120px;
	margin-bottom: 77px;
	display: flex;
	flex-direction: column;
	align-items: center;

}

.second__text {
	font-size: 23px;
	text-align: center;
	text-align: center;
	width: 100%;
	padding: 0 50px;
	line-height: 2em;
}

.second__logo {
	margin-bottom: 76px;
}


/*SECTION 3*/


.third {
	background-color: #E6E6E6;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin: 0;
	padding: 0;
}

.third__title {
	text-align: center;
	font-size: 34px;
	color: #FC6A0F;
	font-weight: 900;
	margin: 0;
	padding-top: 33px;

}
.third__subtitle {
	text-align: center;
	width: 430px;
}


.third__container{
	margin-top: 40px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.third__orderCharact {
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}


.third__titleCharact {
	margin-top: 10px;
	margin-bottom: : 0;
	padding: 0;
	text-align: center;
	font-size: 19px;
	color: #FC6A0F;
	font-weight: 700;
}

.third__text {
	margin: 0;
	padding: 0;
	font-size: 12px;
	text-align: center;
	width: 180px;
}

.third__img {
	margin-top: 50px;
	margin-bottom: 50px;
	width: 700px;
}

/*SECTION 4*/

.fourth {
	margin-top: 180px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.fourth__text {
	padding: 0 100px;
	margin-top: 27px;
	margin-bottom: 80px;
	text-align: center;
}




/*FOOTER*/

footer {
	background-color: #FC6A0F;
	color: white;
}

.footer__rrss {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	align-items: center;
	justify-items: center;
}

.footer__icon {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer__img {
	width: 30px;
	margin-right: 10px;
	color: white;

}

.footer__logo {
	padding: 32px 0 32px 0;
	grid-column-start: 3;
}

.footer__info {
	padding-top: 32px;
	padding-bottom: 32px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	border-top:  1px solid;
	border-bottom: 1px solid;
}

.footer__item {
	padding-right: 70px;
	padding-left: 70px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer_iconInfo {
	margin: 0;
}

.footer__text {
	text-align: center;
	font-size: 10px;
}

.footer__copyright {
	margin: 0;
	padding-top: 17px;
	padding-bottom: 17px;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
}










/*PAGINA PRECIOS*/

.plan {
	display: flex;
	flex-direction: column;
	align-items: center;

}


.plan__title {
	text-align: center;
	font-size: 34px;
	color: #FC6A0F;
	font-weight: 900;
	margin: 0;
	padding-top: 33px;


}

.plan__subtitle {
	text-align: center;
	width: 430px;
}

.prices {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 20px 0 65px 0;

}

.prices__card {
	background-color: #E6E6E6;
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 10px 0 10px;
}

.prices__card--orange {
	background-color: white;
	color: #FC6A0F;
	border: 1px solid;
	margin: 0 10px 0 10px;
}

.prices__text {
	margin: 0;
	padding: 16px 0 0 0;
}

.prices__value {
	font-weight: bold;
	font-size: 32px;
	text-align: center;
	margin: 0;
	padding: 0 0 14px 0;
}

.prices__cardText {
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: black;
	padding: 10px 30px 0px 30px;
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.prices__cardText--orange {
	border-color: #FC6A0F;
}

.prices__btn {
	margin: 30px 0 45px 0;
	font-size: 11px;
	background: #666F76;
	border-radius: 2px;
	color: white;
	font-weight: 700;
	display: inline-block;
	padding: 8px 40px !important;

	transition-property: transform 0.2s ease-in-out;
	transition-duration: 500ms;
}


.prices__btn--orange {
	background: #FC6A0F;
}



.prices__btn:hover {
	transform: scale(1.1);
	color: white !important;
}


/*PAGINA LOGIN*/

.login {
	margin: 0;
	height: 95.5vh;
	background: linear-gradient(45deg, #F09819 10%, #FC6A0F 50%, #FC6A0F 100%);
}

.login__container {
	margin-top: 40px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 25px 70px 500px;
	align-items: center;
	justify-items: center;
}

.login__linkBack {
	font-size: 16px;
	font-weight: bold;
	color: white;
}

.login__iconMargin {
	margin-right: 7px;
}

.login__logo {
	grid-row-start: 2;
	grid-column-start: 2;
}

.login__cardContainer {
	grid-row-start: 3;
	grid-column-start: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login__card {
	background: white;
	display: flex;
	width: 476px;
	height: 435px;
	border-radius: 10px;
	flex-direction: column;

}

.login__cardTitle {
	text-align: center;
	font-weight: bold;
	font-size: 23px;
}

.login__cardForm {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login__input {
  width: 350px;
  height: 49px;
  padding-left: 22px;
  /*padding: 12px 25px;*/
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 15px;
  border: 1px solid #C9C9C9;
  border-radius: 10px;
}

.login__checkbox {
	margin-top: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.login__forgetPassword {
	margin-top: 0;
	font-size: 11px;
	color: #FC6A0F;
	font-weight: bold;
	margin-left: 135px;
}

.login__forgetPassword:hover {
	text-decoration: underline;
}

.login__btn {
	width: 290px;
	height: 38px;
	font-family: Nunito Sans;
	font-size: 15px;
	text-align: center;
	border: 1px solid #FF6920;
	border-radius: 20px;
	color: #FF6920;
	background: white;

	transition-property: background;
	transition-duration: 500ms;
}

.login__btn:hover {
	background-color: #FF6920;
	color: white;

}





/* DEMO GRATIS*/

.free {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 55px;
	margin-right: 55px;
	margin-top: 0px;

}

.free__title {
	text-align: center;
	font-size: 34px;
	color: #FC6A0F;
	font-weight: 900;
	margin: 0;
	padding-top: 33px;
}

.free__subtitle {
	text-align: center;
	width: 430px;

}

.free__contactContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.free__form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 10px;
}




.free__input {
	width: 407px;
	height: 40px;
	padding-left: 20px;
	font-size: 13px;
	border: 1px solid #E6E6E6;
	border-radius: 2px;
	margin: 10px 10px;
}

.free__sendContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.free__btnSend {
	width: 118px;
	height: 46px;
	background: #FC6A0F;
	border: 1px solid #FC6A0F;
	color: white;
	font: normal normal 900 14px/19px Nunito Sans;
	margin: 66px;

}

@media (max-width: 481px) {

	h3 {
		text-align: center;
		font-size: 20px;
	}

	.first__title {
		font-size: 30px;
		text-align: center;
		margin-top: 20px;

	}

	p {
		text-align: center;
		margin-top: 20px;
	}


	.header__demoGratis {
		font-size: 0.7rem;
		margin-left: 20px;
	}

	.third__title {
		font-size: 25px;
	}

	.third__subtitle, .plan__subtitle, .free__subtitle {
    	width: 250px;

    }

    .third__container {
    	margin-top: 0;
    	display: flex;
    	flex-direction: column;
    }

    .third__orderCharact {
    	margin-top: 30px;
    	margin-left: 0;
    }

    .third__img {
    	width: 200px;
    }

    .footer__info {
    	display: flex;
    	flex-direction: column;
    }

    .footer__item {
		padding-right: 20px;
	    padding-left: 20px;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	}

	.first__imagenNotebook {
		width: 284px;
		height: 175.6px;
	}

	.first {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.second__text {
		font-size: 15px;
	}

	.second__logo {
		margin-bottom: 40px;
		width: 70%;
	}

	.fourth {
		margin-top: 30px;
	}

	.fourth__text {
		margin-top: 100px;
		padding: 0;
	}


}

@media (max-width: 768px) {



	.footer__rrss {
		display: flex;
		flex-direction: column;
		padding-top: 30px;
	}

	.footer__item {
		padding-right: 35px;
	    padding-left: 35px;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	}

	.prices {
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	    margin: 20px 0 65px 0;
	}

	.prices__card {
		margin-bottom: 30px;
	}
}

@media (max-width: 990px) {

}

@media (max-width: 1025px) {

}
